<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{{url_for('static',filename="style.css")}}">
</head>
<body>
    <h2>This is my Flask Notes</h2>
    <div class="start">
        <p>Flask is a Framework of Python.</p>
        <h4>Virtual Environment:</h4>
        <p>virtual Environment is used to store or install required modules to store temporarly to avoid interaction between permanent files and temporary files.<br><br>To set Virtual Environment we use following command in terminal and that is <span>Python -m venv .env</span>.<br><br>To activate Virtual Enviroment we use <span>.\.env\Scripts\Activate.ps1</span>.<br><br>If error occurs then we need to open terminal(Not of VSCode) and run the command i.e <span>Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy Unrestricted</span>. Need to enter this command in any terminal if you are on <b>Windows 11</b>. If you are on below Windows 11 you can use powershell terminal only.</p>
    </div>
    
</body>
</html>